@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --bg-Soft-violet: hsl(273, 75%, 66%);
  --bg-Soft-blue: hsl(240, 73%, 65%);
  --txt-Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --txt-Soft-red: hsl(14, 88%, 65%);
  --txt-n-Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --txt-n-Dark-grayish-blue: hsl(240, 6%, 50%);
  --dvdr-Light-grayish-blue: hsl(240, 5%, 91%);
  --white: white;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background: linear-gradient(var(--bg-Soft-violet),var(--bg-Soft-blue));
  height: 100vh;
}

.container{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  height: 70vh;
  width: 70vw;
  background-color: var(--white);
  border-radius: 1.5rem;
  overflow: hidden;
}

.img-container{
  position: relative;
   top: -58%;
   left: -52%;
}
 .img-pattern {
    position: relative;
    top:0;
    left:0;
    height: 950px;
  }
  .img-box {
    position: absolute;
    top:52%;
    left:43.4%;
    z-index: 1;
  }

  .img-woman {
    position: absolute;
    top:38%;
    left:44.5%;
  } 

.attribution {
  font-size: 11px;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%);
  color: var(--white);
}

.attribution a {
  color: var(--white);
  font-style: italic;
  font-weight: bold;
}